.box1 {
    background-color: rgb(228, 192, 33);
    width: 100px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    color: black;
    }
    .box2 {
        background-color: rgb(139, 14, 14);
        width: 100px;
        border: 15px solid rgb(128, 58, 0);
        padding: 50px;
        margin: 20px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: large;
        color: gray;
        }
        .box3 {
            background-color: rgb(46, 59, 173);
            width: 100px;
            border: 15px solid rgb(0, 113, 128);
            padding: 50px;
            margin: 20px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: large;
            color: #FFFFFF;
            }
            .box4 {
                background-color: blue;
                width: 200px;
                border: 5px;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                font-size: small;
            }
            <---!Assignment--->
            <table>

            <table>
            RA GUNN to Everyone (20:54)
            <tr>
                        <td class=box1>Hello </td>
                        <td class=box2>World</td>
                        <td class=box1></td>
                        <td class=box2></td>
                        <td class=box1></td>
                        <td class=box2></td>
                        <td class=box1></td>
                        <td class=box2></td>
                        <td class=box1></td>
            
                    </tr>
            td.box1 {
                background-color:white;
                width: 100px;
                height: 100px;
                padding: 50px;
                margin: 20px;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                font-size: large;
                color: black;
                }
    
           td.box2 {
                background-color: rgb(196, 121, 121);
                width: 100px;
                padding: 50px;
                margin: 20px;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                font-size: large;
                color: white;
                }

    